<aside class="sidebar">
    <div class="logo">
        <h2>Sparkle Books</h2>
    </div>

    <nav class="sidebar-nav">
        <nav class="navigation">
            <ul>
                <li>
                    <a 
                        routerLink="/dashboard"
                        routerLinkActive="active">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/customers"
                        routerLinkActive="active">
                        Customers
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/cleaning-services"
                        routerLinkActive="active">
                        Cleaning Services
                    </a>
                    </li>
                <li>
                    <a 
                        routerLink="/jobs"
                        routerLinkActive="active">
                        Jobs
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/calendar"
                        routerLinkActive="active">
                        Calendar
                </a>
            </li>
                <li>
                    <a 
                        routerLink="/invoices"
                        routerLinkActive="active">
                        Invoices
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/payments"
                        routerLinkActive="active">
                        Payments
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/reports"
                        routerLinkActive="active">
                        Reports
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/taxes"
                        routerLinkActive="active">
                        Taxes
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/settings"
                        routerLinkActive="active">
                        Settings
                    </a>
                </li>
            </ul>
        </nav>
    </nav>

    <div class="user">
        <h4>Administrator</h4>
        <p>Owner Account</p>
        <button>Sign Out</button>
    </div>
</aside>