<aside class="sidebar">
    <div class="logo">
        <h2>Sparkle Books</h2>
    </div>

    <nav class="sidebar-nav">
        <nav class="navigation">
            <ul>
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a routerLink="/customers">Customers</a></li>
                <li><a routerLink="/cleaning-services">Cleaning Services</a></li>
                <li><a routerLink="/jobs">Jobs</a></li>
                <li><a routerLink="/calender">Calender</a></li>
                <li><a routerLink="/invoices">Invoices</a></li>
                <li><a routerLink="/payments">Payments</a></li>
                <li><a routerLink="/reports">Reports</a></li>
                <li><a routerLink="/taxes">Taxes</a></li>
                <li><a routerLink="/settings">Settings</a></li>
            </ul>
        </nav>
    </nav>

    <div class="user">
        <h4>Administrator</h4>
        <p>Owner Account</p>
        <button>Sign Out</button>
    </div>
</aside>